<link rel="stylesheet" href="/css/home.css" type="text/css" />

<nav class="navbar navbar-default bg-secondary">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-user" data-username="{{user}}">Hello, {{user}}! Unread Surveys:</div><div id="unread-div">0</div>
            <a class="navbar-logout" href="/logout">
                Logout
            </a>
            <a class="navbar-logout" href="/usersettings">
                User Settings
            </a>
            <a class="navbar-logout" href="/makesurvey">
                New Survey
            </a>
        </div>
    </div>
</nav>

<div class="container" style="display: flex; justify-content: space-between;">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="survey-type" id="survey-active" value="active" checked>
        <label class="form-check-label white-text" for="exampleRadios1">
            Active Surveys
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="survey-type" id="survey-expired" value="expired">
        <label class="form-check-label white-text" for="exampleRadios2">
            Expired Surveys
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="survey-type" id="survey-starred" value="starred">
        <label class="form-check-label white-text" for="exampleRadios2">
            Starred Surveys
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="survey-type" id="survey-future" value="future">
        <label class="form-check-label white-text" for="exampleRadios2">
            Future Surveys
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="survey-type" id="survey-all" value="all">
        <label class="form-check-label white-text" for="exampleRadios2">
            All Surveys
        </label>
    </div>
</div>

<!-- This is where the surveys go -->
<div class="container" id="surveys-div"></div>

<!--Bootstrap-->
<script 
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous">
</script>
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous">
</script>
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous">
</script>

<!--Moment.js-->
<script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>

<!--jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--Home Javascript-->
<script type="text/javascript" src="js/home.js"></script>
