<!--Personal Styling-->
<link rel="stylesheet" href="/css/style.css" type="text/css" />
<link rel="stylesheet" href="/css/home.css" type="text/css" />

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-user navbar-brand" data-username="{{user}}">Hello, {{user}}! Unread Surveys:<div
                id="unread-div">0</div>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="navbar-logout" href="/makesurvey">New Survey</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-logout" href="/usersettings">User Settings</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-logout" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="page-body">
    <div class="container" style="display: flex; justify-content: space-between;">
        <div class-"row">
            <div class="col-md-12">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="survey-type" id="survey-all" value="all" checked>
                    <label class="form-check-label white-text" for="exampleRadios2">
                        All Surveys
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="survey-type" id="survey-active" value="active">
                    <label class="form-check-label white-text" for="exampleRadios1">
                        Active Surveys
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="survey-type" id="survey-expired" value="expired">
                    <label class="form-check-label white-text" for="exampleRadios2">
                        Expired Surveys
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="survey-type" id="survey-starred" value="starred">
                    <label class="form-check-label white-text" for="exampleRadios2">
                        Starred Surveys
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="survey-type" id="survey-future" value="future">
                    <label class="form-check-label white-text" for="exampleRadios2">
                        Future Surveys
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!-- This is where the surveys go -->
    <div class="container py-1" id="surveys-div"></div>
</div>

<footer id="sticky-footer" class="pt-4 pb-1 mt-4">
    <div class="container text-center">
        <small>&copy;Nick Mikstas, Chris Mikstas, Sultan Kisana, Elijah Lanza</small>
    </div>
</footer>

<!--Bootstrap-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

<!--Moment.js-->
<script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>

<!--jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--Home Javascript-->
<script type="text/javascript" src="js/home.js"></script>