<nav class="navbar navbar-default bg-secondary">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-user">Hello, {{user}}! </div>
            <a class="navbar-logout" href="/logout">
                Logout
            </a>
        </div>
    </div>
</nav>

<h1>User Settings</h1>