<!--Personal Styling-->
<link rel="stylesheet" href="/css/style.css" type="text/css" />

<nav class="navbar navbar-default bg-secondary">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-user">Hello, {{user}}! </div>
            <a class="navbar-logout" href="/logout">
                Logout
            </a>
            <a class="navbar-logout" href="/home">
                Home
            </a>
        </div>
    </div>
</nav>

<h1>View Survey</h1>
<h6>Survey ID: {{id}}</h6>