/******************************************* Page Body *******************************************/

.page-title
{
    margin: 15px 0px;
}

.survey-info
{
    color: #ffffff;
    font-size: 1.2rem;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#userResults
{
    overflow: auto;
}

#usersAdded
{
    overflow: auto;
}

#gPlacesResults
{
    overflow: auto;
}

#questionOptions
{
    overflow: auto;
}

.addUserBtns
{
    /**height: 20px;**/
    background-color: #008CBA;
    border: none;
    color: white;
    /**padding: 5px 5px;**/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin-top: 2px;
    cursor: pointer;
 }

 .deleteUserBtns
 {
    /**height: 20px;**/
    background-color: #f44336;
    border: none;
    color: white;
    /**padding: 5px 5px;**/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin-top: 2px;
    cursor: pointer;
 }

 .addPlacesButton
 {
    /**height: 20px;**/
    background-color: #008CBA;
    border: none;
    color: white;
    /**padding: 5px 5px;**/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin-top: 2px;
    cursor: pointer;
 }

/******************************************** Navbar *********************************************/
.navbar-header
{
    width: 100%;
    border: 0;
}

.navbar-user
{
  display: inline;
  font-size: 1rem;
  color: #ffffff;
}

.navbar-logout
{
    float: right;
    color: #111111;
    margin-right: 25px;
}

#unread-div
{
    display: inline;
}

.navbar
{
    border: 0;
    min-height: auto;
    margin-bottom: 0;
}

#unread-div
{
    display: inline-block;
    margin-left: .5rem;
    color: #771111;
    font-weight: bold;
}

/******************************************* Google Maps *******************************************/

#map
{
	height: 400px;
	width: 100%;
}

#commentsDiv
{
    overflow: auto;
}

