/******************************************** Navbar *********************************************/
.navbar-header
{
    width: 100%;
    border: 0;
}

.navbar-user
{
  display: inline;
  font-size: 1rem;
  color: #ffffff;
}

.navbar-logout
{
    float: right;
    color: #111111;
    margin-right: 25px;
}

#unread-div
{
    display: inline;
}

.navbar
{
    border: 0;
    min-height: auto;
    margin-bottom: 0;
}

#unread-div
{
    display: inline-block;
    margin-left: .5rem;
    color: #771111;
    font-weight: bold;
}