<!--Personal Styling-->
<link rel="stylesheet" href="/css/style.css" type="text/css" />

<h1>Delete Users From Database</h1>
<div id="users-div"></div>

<!--jQuery-->
<script src="https://code.jquery.com/jquery-1.8.3.js"></script>

<!--Page Javascript-->
<script src="/js/testing/deleteUsers.js"></script>